{% for el in posts %}
<ul class="form-post">
  <div class="info-about-post">
    <p class="categor_text">Категорія: {{el.category}}</p>
	  <p class="date_text">Дата створення: {{el.time_update|date:"d-m-Y H:i:s"}}</p>
  </div>
<div id="my_post_block">
  {% if el.photo %}
	   <p><img class="img-post" src="{{el.photo.url}}"></p>
  {% endif %}
  <p id="topic_my_post">Тема: {{ el.title}}</p>
  <p id="categor_my_post">Текст поста: {{ el.text|linebreaks|truncatewords:30}}</p>
  <p class="link-read-post"><a href="{{ el.get_absolute_url }}">Читати пост</a></p>
</div>
</ul>
{% endfor %}

<nav class="list-pages">
  <ul>
      {% for p in page_obj.paginator.page_range %}
      <li class="page-num">
          <a href="?page={{ p }}">{{ p }}</a>
      </li>
      {% endfor %}
  </ul>
</nav>
