{% extends 'main/header_for_all.html' %}
{% load static %}
{% load post_tags %}


{% block title %}
{{ title }}
{% endblock %}


{% block aside %}
<!-- Бокова панель -->
<aside class="aside-for-post">
{% list_categories 'name' categories_selected %}
</aside>
<!-- Кінець бокової панелі -->
{% endblock %}

{% block content %}
<!-- Відображенян постів -->
{% for el in post_category %}
<form class="form-post-block">
  <div id="my_post_block">
  {% if el.photo %}
     <p><img class="img-post" src="{{el.photo.url}}"></p>
  {% endif %}
  <div class="info-about-post">
     <b class="categor_text">Категорія:  {{el.category}}</b> | <b class="date_text">Дата створення:  {{el.time_create|date:"d-m-Y H:i:s"}}</b>
 </div>
    <p id="topic_my_post">Тема: {{ el.title}}</p>
    <b id="text_my_post">{{ el.text|linebreaks|truncatewords:30}}</b>
    <p class="link-read-post"><a id='link-no-decoration' href="{{ el.get_absolute_url }}">Читати пост</a></p>
  </div>
  </form>
{% endfor %}
<!-- Кінець відобреження постів -->

{% endblock %}
