{% extends 'main/setting.html' %}
{% load static %}
{% block header %}
<header class="header-block-for-all">
    <div class="wrapper">
      <div id="button-header-main" class="button-header">
        <a id="header-button-main-text" href="{% url 'main' %}"><i class="fas fa-home"></i> Головна</a>
      </div>
      <div id="button-header-login" class="button-header">
        <a id="header-button-login-text" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Вхід</a>
      </div>
      <div id="button-header-register" class="button-header">
        <a id="header-button-register-text" href="{% url 'register' %}"><i class="fas fa-registered"></i> Реєстрація</a>
      </div>
    </div>
</header>
<main>
  {% block aside %} {% endblock %}
  {% block content %} {% endblock %}

  <!-- Пагінатор -->
  <nav class="list-pages">
      <ul>
        {% if page_obj.has_previous %}
         <li class="page-num">
        	  <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
         </li>
        {% endif %}

          {% for p in paginator.page_range %}
          {% if page_obj.number == p %}
          <li class="page-num page-num-selected">{{ p }}</li>
          {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
          <li class="page-num">
              <a href="?page={{ p }}">{{ p }}</a>
          </li>
          {% endif %}
  		    {% endfor %}

        {% if page_obj.has_next %}
         <li class="page-num">
  	        <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
         </li>
        {% endif %}
      </ul>
  </nav>
  <!-- Кінець пагінатора -->

</main>
{% endblock %}
