{% extends 'main/header_for_all.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<h1 class="text-inform" id="login-info">{{title}}</h1>

<form method="post" class="form-login">
    {% csrf_token %}

   <div class="form-error">{{ form.non_field_errors }}</div>

   {% for f in form %}

      <p><label class="label-area" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
      <div class="form-error">{{ f.errors }}</div>

   {% endfor %}

     <button type="submit" id="button_login">Вхід</button>
</form>


{% endblock %}
