{% extends 'main/header_for_all.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

  <form  method="post" class="form-register" >
    {% csrf_token %}
    <p class="text-inform">Реєстрація користувача</p>
    <div>
    {% for f in form %}
       <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
       <div class="form-error">{{ f.errors }}</div>
     {% endfor %}
      <button type='submit' class="button_add">Реєстрація</button>
    </div>

{% endblock %}
