{% extends 'main/header_for_all.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block main %}

  <form action="{% url 'register' %}" method="post" class="form-register" >
    <p class="text-inform">Реєстрація користувача</p>
    <div>
      <p><input type="text" class="form-login" id="first_name" name="first_name" required  placeholder="Введіть ім'я(максимум 15 символів)"></p>
      <p><input type="text" class="form-login" id="last_name" name="last_name" required  placeholder="Введіть прізвище(максимум 20 символів)"></p>
      <p><input type="email" class="form-login" id="email" name="email" required placeholder=" Введіть Email(email@example.com)"></p>
      <p><input type="password" class="form-login" id="password" name="password" required placeholder=" Введіть пароль(більше 8-ми символів)"></p>
      <p><input type="password" class="form-login" id="password2" name="password2" required placeholder=" Повторіть пароль"></p>
      <input type='submit' class="button_add" value="Реєстрація">
      <a class="button" href="{% url 'login' %}" type='submit' >Авторизація</a>
    </div>

{% endblock %}
